:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
}

/* Media query for small screens (up to 600px) */
@media screen and (max-width: 600px) {
  /* Adjust styles for small screens */
  body {
    font-size: 14px; /* Decrease font size */
  }
}

/* Media query for medium screens (between 601px and 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Adjust styles for medium screens */
  body {
    font-size: 16px; /* Adjust font size */
  }
}

/* Media query for large screens (greater than 1024px) */
@media screen and (min-width: 1025px) {
  /* Adjust styles for large screens */
  body {
    font-size: 18px; /* Increase font size */
  }
}







