:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color-scheme: light dark;
  color:  rgba(255, 255, 255, 0.87);
background-color: rgb(11, 146, 101);

}

/* Media query for small screens (up to 600px) */
@media screen and (max-width: 600px) {
  /* Adjust styles for small screens */
  body {
    font-size: 15px; /* Decrease font size */
  }
}

/* Media query for medium screens (between 601px and 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Adjust styles for medium screens */
  body {
    font-size: 17px; /* Adjust font size */
  }
}

/* Media query for large screens (greater than 1024px) */
@media screen and (min-width: 1025px) {
  /* Adjust styles for large screens */
  body {
    font-size: 23px; /* Increase font size */
  }
}






/* reset & common styles */
body, ul, h1, h2, h3, p, button, a, div{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Quicksand';
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
  
 
}


h3{
  font-size: 22px;
}

button{
  color: rgb(3, 18, 2);
  padding: 30px;
  font-size: 1em;
  background:transparent;
  border-radius: 50px;
  

  
  cursor: pointer;
  opacity: 0.7;
}

    
.container{
  max-width: 300px;
  margin: 100px auto 40px;
}
.container h3{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.container li{
  padding: 10px;
  cursor: pointer;
}

/* lists */
li span.active{
  font-weight: bold;
}
li span.active::before{
  content: '>';
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}

ul li {
  font-size: 22px; 
}


/* pages */

.home h2{
  font-size: 2.5em;
  margin-bottom: 30px;
}
.home.container, 
.order.container{
  text-align: center;
  max-width: 800px;
  
}
.home button{
  color: rgb(221, 212, 212);
  padding: 15px 30px;
  font-size: 1.6em;
  border: 3px solid white;
  margin:  30px 20px;
 
  
 
}
.order p{
  margin: 20px auto;
}






















